body { background: #296219; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 50px; display: flex; }
.block-cart-0 { color: #186093; font-size: 21px; margin-bottom: 5px; }
.block-validator-1 { color: #91014; font-size: 15px; margin-bottom: 5px; }
.block-cart-2 { color: #5e9cd1; font-size: 16px; margin-bottom: 5px; }
.block-email-3 { color: #369376; font-size: 20px; margin-bottom: 5px; }
.block-logger-4 { color: #907eeb; font-size: 21px; margin-bottom: 5px; }
.block-sms-5 { color: #bd34ae; font-size: 12px; margin-bottom: 5px; }
.block-metrics-6 { color: #f1493f; font-size: 16px; margin-bottom: 5px; }